*{
    margin: 0;
    padding: 0;
    box-sizing: 0;
    font-family:'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
}

.navbar {
    box-shadow: 0 0.2px 0.5px ;
    padding: 1em 3em;
}

main{
    height: 30vh;
    width: 30vw;
    margin: 10% auto ;
    
}

h1{
    font-weight:bolder;
    font-size: 4rem;
    text-align: center;
    padding-bottom: 2em;
}

